.container-fluid {
    min-height:100vh;
}
.toolbar {
  height: 60px;
  background-color: #007bff;
  color: white;
  display: flex;
  font-weight: 600;
  padding-left: 30px;
  align-items: center;
  margin-bottom: 20px;
}
.navbar {
  align-items: end; font-family: cursive
}
.navbar-brand {
  padding-left: 1.9rem;
}
.navbar-brand .title {
  font-size: larger;
}
.navbar-brand .title2 {
  font-size: smaller;
}
.navbar-brand .subtitle {
  font-size: medium;
  margin-bottom: 5px;
}
.navbar-collapse {
  align-items: end;
}
.nav-link {
  padding-bottom: 0;
}
.navbar-text {
  color: white;
  padding-bottom: 0;
}
