.content-box {
    padding: 10px;
    margin: 10px
}
form input.ng-invalid,
form select.ng-invalid,
form textarea.ng-invalid {
  border: 1px solid green;
}
.c-pointer {
  cursor: pointer;
}
.btn-sm {
  font-size: .800rem !important;
}
.second-title {
  font-size: 1.2em !important;
  font-weight: 500 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */
